@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1>3dcart Sample Action App</h1>
    <p>Learn about <a target="_blank" href="https://developer.3dcart.com">3dcart Development</a></p>
    <p>Source code available on <a target="_blank" href="https://github.com/3dcart/3dcartSampleActionApp">3GitHub</a></p>
    <hr />
    <h2>Sample requests</h2>
    <p><a href="CheckStatus?page=sample&id=5&token=fake_sample_token&page=sample">Sample request</a></p>
    <p><a href="CheckStatus/embedded?page=sample&id=5&token=fake_sample_token&page=sample">Sample request embedded</a></p>
</div>
