@{
    ViewData["Title"] = "Check Status";
    Layout = ViewBag.Layout;
}

<div class="text-left">
    <h1>3dcart Sample Action App</h1>
    <p>Learn about <a target="_blank" href="https://developer.3dcart.com">3dcart Development</a></p>
    <p>Source code available on <a target="_blank" href="https://github.com/3dcart/3dcartSampleActionApp">3GitHub</a></p>
    <hr />
    <h2>Request Parameters</h2>
    <p>Id: @ViewBag.Id</p>
    <p>Page: @ViewBag.Page</p>
    <p>Token: @ViewBag.Token</p>
    <hr />
    <h2>Item Information</h2>
    <p>@ViewBag.ItemInfo</p>
</div>

